h1 {
    color: rgb(70, 180, 217)
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.7rem
}

img {
    width: 250px;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    color: black;
}

body {
    background-color: lightgray;
}